 .container{
		width: 600px;
		margin: 20px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
 }
 
 header{
		font-family: Oswald;
		width: 600px;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
/*  		background: yellow; */
 		margin: 0px auto;
/* 		border-bottom: 3px solid #D9D9D9; */	
 }
 
 h1{
		color: #A8A8A8;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:600;
/* 		background: yellow; */
 }
 
 a, a:visited {
	color:#008A00;
	text-decoration: none;
}

a:active, a:hover {
	color:purple;
	text-decoration: none;
}
 
nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 24px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin: 0px 1.5em;
/* 		background: yellow; */
		float: center;
}

nav ul {
/* 		position: fixed; */
		width: 600px;
/* 		background: orange;  */
		margin-left: 0em;

/* 		z-index: 10; */
}

.logo {
	width:200px;
	margin: auto 155px;
}

nav ul img {
		width: auto/6
		height: auto;
}

img {
		max-width: 100%;
		width: auto/6;
		height: auto;
		}

#banner {
		width: 600px;
		margin: 20px auto;
		border-bottom: 3px solid #D9D9D9;
}

#banner p {
		color: #A8A8A8;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
/* 		line-height: 1.3em; */
		margin: 0px 3em;
		padding: 10px 20px;
		font-weight:200;
/* 		background: yellow; */
}

#banner p a {
		color:#008A00;
		font-weight:200;
		text-decoration: none;
		font-size: 12px;
		font-family: Open Sans;
		font-style: italic;
}


 .portrait{
	float: left;
 	height: 200px;
 	margin: auto 40px;
 }
 
  .row{
		width: 600px;
		margin: 10px auto;
		float: center;
/* 		background-color: yellow; */
/* 		border-bottom: 3px solid #D9D9D9; */
 }
 
 .box {
	float: left;
	width: 200px;
/* 	background-color: #FFF705; */
	margin: 20px 0px;
/* 	padding-bottom: 50px; */
	font-size: 13px;
	font-family: Open Sans;
	font-weight: 300px;
	color: #A8A8A8;	
 }
 
 .box1 {
	float: left;
	width: 360px;
	height:  255px;
/* 	background-color: orange; */
	margin: auto;
	font-size: 11px;
	font-family: Open Sans;
	font-weight: 300px;
	padding-top: 20px;
	color: #A8A8A8;	
 }
 
  .box1 h1 {
 	 	color: #A8A8A8;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:600;
/* 		background: yellow; */
 }
 
 .box1 p{
 		color: #A8A8A8;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:200;
/* 		background: yellow; */
 }
 
 h2 {
 		color: #A8A8A8;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:200;
		font-style: italic;
/* 		background: yellow; */
 }
 
 footer {
		width: 600px;
		margin: 10px auto;
		position: center;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
		clear: both;
		border-top: 3px solid #D9D9D9;
}

.fbox {
		float: left;
		width: 190px;
		height: 120px;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: auto 5px;
		margin-bottom: 50px;
		text-align: center;
		font-size: 90%;
}

.fbox h2{
		font-family: Oswald;
		text-align: center;
		font-size: 18px;
		font-style: normal;
}

.fbox p {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: auto;
		font-weight: 200;
		font-size: 90%;
	}