 .container{
		width: 900px;
		margin: 20px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
 }
 
 header{
		font-family: Oswald;
		width: 900px;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
/*  		background: yellow; */
 		margin: 5px auto;
/* 		border-bottom: 3px solid #D9D9D9; */	
 }
 
 h1{
		color: #A8A8A8;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:700;
/* 		background: yellow; */
 }
 
 a, a:visited {
	color:#008A00;
	text-decoration: none;
}

a:active, a:hover {
	color:purple;
	text-decoration: none;
}
 
 nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 1em;
		position: right;
/* 		background: yellow; */
}

nav ul {
		width: 900px;
/* 		background: orange;  */
/* 		text-align: right; */
		margin-left: 0em;
}

#banner {
		width: 900px;
		margin: 20px auto;
		border-bottom: 3px solid #D9D9D9;
}

#banner p {
		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
/* 		line-height: 1.3em; */
		margin: 0px 3em;
		padding: 10px 20px;
		font-weight:200;
/* 		background: yellow; */
}

#banner p a {
		color:#008A00;
		font-weight:200;
		text-decoration: none;
		font-size: 15px;
		font-family: Open Sans;
		font-style: italic;
}


 .portrait{

 	height: 250px;
 	margin: 0 0 0 4em;
 
 }
 
  .row{
		width: 900px;
		margin: 20px auto;
		float: center;
/* 		border-bottom: 3px solid #D9D9D9; */
 }
 
 .box {
	float: left;
	width: 233px;
/* 	background-color: #FFF705; */
	margin: 20px 0px;
/* 	padding-bottom: 50px; */
	font-size: 13px;
	font-family: Open Sans;
	font-weight: 300px;
	color: #A8A8A8;	
 }
 
 .box1 {
	float: left;
	width: 600px;
	height:  255px;
/* 	background-color: orange; */
	margin: 20px 20px;
	font-size: 13px;
	font-family: Open Sans;
	font-weight: 300px;
	padding-top: 20px;
	color: #A8A8A8;	
 }
 
  .box1 h1 {
 	 	color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:600;
/* 		background: yellow; */
 }
 
 .box1 p{
 		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:200;
/* 		background: yellow; */
 }
 
 h2 {
 		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:200;
		font-style: italic;
/* 		background: yellow; */
 }
 
 footer {
		width: 900px;
		margin: 10px auto;
		position: center;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
}

.fbox {
		float: left;
		width: 250px;
		height: 150px;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 25px;
		text-align: center;
		font-size: 90%;
}

.fbox h2{
		font-family: Oswald;
		text-align: center;
		font-size: 23px;
		font-style: normal;
}

.fbox p {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: auto;
		font-weight: 200
	}