.container {
/* 		width: 900px; */
		max-width: 900px;
		width: 80%;
		margin: 0px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
		position: center;
/* 		background-color: orange; */
}

.section {
		width: 100%;
		margin: auto;
		float: left;
		margin-bottom: 2em;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
}

header {
		font-family: Oswald;
		width: 100%;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
 		margin: 0px auto;
 		margin-top: 20px;
 		border-bottom: 3px solid #D9D9D9;
 		float: center;
}

nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 4%;
/* 		background: yellow; */
}

nav ul {
/* 		position: fixed; */
		width: 100%;
/* 		background: orange;  */
		margin: 10px 5%;
		float: center;
/* 		z-index: 10; */
/* 		background-color: yellow; */
}

.logo {
width:22%;
/* padding-right:25%; */
}

a, a:visited {
		color:#008A00;
		text-decoration: none;
}

a:active, a:hover {
		color:purple;
		text-decoration: none;
}

#link p {
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-bottom: 20px;
}

h1 {
		font-family: Oswald;
		font-size: 30px;
		color: #A8A8A8;
}

#banner {
		width: 100%;
		margin: 10px auto;
		border-bottom: 3px solid #D9D9D9;
		float: center;
}

#banner p {
		font-size: 100%;
		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: 2px;
		padding: 20px;
		font-weight:200;
}

#banner p a {
		color:#008A00;
		font-weight:200;
		text-decoration: none;
		font-size: 15px;
		font-family: Open Sans;
		font-style: italic;
}

p {
		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: 2px;
		font-weight:200;
			
}

.pbox {
		float: left;
		width: 30%;
/* 		height: auto; */
		color: #A8A8A8;
/* 		background-color: yellow; */
		margin: 10px 1.5%;
		text-align: left;
	}

.pbox p {
		font-family: Open Sans;
		font-weight:200;
		font-size: 14px;
		text-align: center;
		padding: 5px;
}

.ppic {
		float: center;
		width: 100%;
		height: auto;
		color: #A8A8A8;
/* 		background-color: yellow; */
		text-align: left;
		margin:10px 0px
}

.arrow {
		width:4%; 
		margin: auto 40%;
		clear: both;
}

footer {
		width: 100%;
		margin: 10px auto;
		position: center;
/* 		border-top: 3px solid #D9D9D9; */
/* 		background-color: yellow; */
}

.icon {
		width:30px; 
		margin: auto;
}

.box {
		float: left;
		width: 30%;
		height: 150px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 1.6%;
		text-align: center;
		font-size: 90%;
}

.box p {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: auto;
	}