.container {
		max-width: 900px;
		width: 80%;
		margin: 0px auto;
		float: center;
		position: center;
/* 		background-color: orange; */
}

.section {
		width: 100%;
		margin: auto;
		float: left;
		margin-bottom: 2em;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
}

header {
		font-family: Oswald;
		width: 100%;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
 		margin: 0px auto;
 		margin-top: 20px;
/*  		border-bottom: 3px solid #D9D9D9; */
 		float: center;
}

nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 4%;
/* 		background: yellow; */
}

nav ul {
/* 		position: fixed; */
		width: 100%;
/* 		background: orange;  */
		margin: 10px 5%;
		float: center;
/* 		z-index: 10; */
/* 		background-color: yellow; */
}

.logo {
width:22%;
/* padding-right:25%; */
}

 
 a, a:visited {
	color:#008A00;
	text-decoration: none;
}

a:active, a:hover {
	color:purple;
	text-decoration: none;
}
 
 nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 1em;
		position: right;
/* 		background: yellow; */
}

nav ul {
		width: 900px;
/* 		background: orange;  */
/* 		text-align: right; */
		margin-left: 0em;
		margin-top: 0px;
}
 
 .box {
	float: left;
	width: 233px;
/* 	background-color: #FFF705; */
	margin: 20px 0px;
/* 	padding-bottom: 50px; */
	font-size: 13px;
	font-family: Open Sans;
	font-weight: 300px;
	color: #A8A8A8;	
 }
 
 .box1 {
	float: left;
	width: 600px;
	height:  255px;
/* 	background-color: orange; */
	margin: 20px 20px;
	font-size: 13px;
	font-family: Open Sans;
	font-weight: 300px;
	padding-top: 20px;
	color: #A8A8A8;	
 }
 
  .box1 h1 {
 	 	color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:600;
/* 		background: yellow; */
 }
 
 .box1 p{
 		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:200;
/* 		background: yellow; */
 }
 
 h2 {
 		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:200;
		font-style: italic;
/* 		background: yellow; */
 }
 
 .arrow {
 width:4%; 
 margin: auto 18%;
 }

table thead tr td
{

background: white;
width:100px;
height:80px;
/* border:solid orange; */
text-align: center;
font-weight: bolder;
font-size: 250%;
font-family: Amatic SC;
color: green;
float: center;
}

h1 {
font-size: 24px;
font-weight: 300;
font-family: Oswald;
float: center;
text-align: center;

}

table thead tr th
{

background: #E8E8E8;
width:120px;
height:50px;
/* border:solid orange; */
colspan:7;
font-family: Amatic SC;
font-size: 24px;
font-weight: 300;
color: green;
text-align: center;

}

table tbody tr td
{
background: #F5F5F5;
width:120px;
/* height:100px; */
/* border:1px solid green; */
padding-bottom: 50px;
padding-right: 5px;
text-align: right;
/* border:solid orange; */
font-family: Oswald;
font-size: 15px;
color: #A8A8A8
}

table tfoot tr td
{

/* background: pink; */
/* background: #F5F5F5; */
width:100px;
height:100px;
padding-top: 5px;
/* border:solid orange; */
text-align: center;
font-family: Open Sans;
color: #A8A8A8;
font-weight: 300;
font-size: 14px;
}

.day {
	background-color: #94E0A3;	
	padding-bottom: 5px;
}

.flowerblock{
	background-color: #F5F5F5;;
	width: 30%;
	display: block;
	float: left;
	margin: auto 1.6%;
	margin-bottom: 1em;
	color: white;
	text-align: center;
}

.flowers {
		width: 35%;
		margin: auto 0.1%;
		border: 2px solid grey;
}

.flowers:hover{
		border: 2px solid green;
}

footer {
		width: 100%;
		margin: 10px auto;
		position: center;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
}

.icon {
		width:30px; 
		margin: auto;
}

.fbox {
		float: left;
		width: 30%;
		height: 150px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 1.6%;
		text-align: center;
		font-size: 90%;
}

.fbox h2{
		font-family: Oswald;
		text-align: center;
		font-size: 23px;
		font-style: normal;
}

.fbox p {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: auto;
		font-weight: 300;
}