 .container{
		width: 380px;
		margin: 0px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
 }
 
header {
		font-family: Oswald;
		width: 380px;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
 		margin: 0px auto;
 		margin-top: 20px;
}

nav ul {
/* 		position: fixed; */
		width: 380px;
/* 		background: orange;  */
		margin-left: 0em;
		margin-right: 0em;
		margin-top: 0px;
/* 		z-index: 10; */
		background-color: white;
}

nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 20px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 0.5em;
		margin-right: 0.5em;
		position: center;
/* 		background: yellow; */
}

.logo {
width:160px;
margin: 5px 70px;
padding-right: 40px;
}
 
 h1{
		color: #A8A8A8;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:300;
/* 		background: yellow; */
 }
 
 
 a, a:visited {
	color:#008A00;
	text-decoration: none;
}

a:active, a:hover {
	color:purple;
	text-decoration: none;
}

 .arrow {
 width:30px; 
 margin-right:2em;
 margin-left: 2em;
 }
 
 h2 {
 		color: #A8A8A8;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
/* 		line-height: 1.3em; */
		font-weight:200;
		font-style: italic;
/* 		background: yellow; */
 }
 
 footer {
		width: 380px;
		margin: 10px auto;
		position: center;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
		clear: both;
		border-top: 3px solid #D9D9D9;
}

.fbox {
		float: center;
		width: 360px;
		height: 100px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 5px;
		text-align: center;
		font-size: 90%;
}

.fbox p {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: auto;
		font-size: 12px;
	}

table thead tr td
{

background: white;
width:100px;
height:80px;
/* border:solid orange; */
text-align: center;
font-weight: bolder;
font-size: 180%;
font-family: Amatic SC;
color: green;
float: center;
}

h1 {
font-size: 24px;
font-weight: 300;
font-family: Oswald;
float: center;
text-align: center;
}

table thead tr th
{

background: #E8E8E8;
width:50px;
height:50px;
/* border:solid orange; */
colspan:7;
font-family: Amatic SC;
font-size: 18px;
font-weight: 300;
color: green;

}

table tbody tr td
{
background: #F5F5F5;
width:80px;
/* height:100px; */
/* border:1px solid green; */
padding-bottom: 30px;
padding-right: 5px;
text-align: right;
/* border:solid orange; */
font-family: Oswald;
font-size: 12px;
color: #A8A8A8
}

table tfoot tr td
{

/* background: pink; */
background: #F5F5F5;
width:100px;
height:100px;
padding-top: 5px;
/* border:solid orange; */
text-align: center;
font-family: Open Sans;
color: #A8A8A8;
font-weight: 300px;
font-size: 12px;
}