 .container{
		width: 900px;
		margin: 20px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
 }
 
header {
		font-family: Oswald;
		width: 900px;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
/*  	background: yellow; */
 		margin: 5px auto;
}

nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 1em;
		position: right;
/* 		background: yellow; */
}

nav ul {
		width: 900px;
/* 		background: orange;  */
		margin-left: 0em;
}

.sort ul {
		width: 850px;
		margin: 15px auto;
/* 		background: orange;  */
		text-align: left;
		color: #008A00;
		
}

.sort ul li{
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 28px;
		font-family: 'Amatic SC', cursive;
		color: #008A00;
		text-align: left;
		margin: auto 1em;
		float: center;
/* 		background: yellow; */
}

a, a:visited {
		color:#008A00;
		text-decoration: none;
}

a:active, a:hover {
		color:purple;
		text-decoration: none;
}

h1 {
		font-family: Amatic;
		font-size: 32px;
		color: #A8A8A8;
		 font-weight: 300px;
}
 
  p {
	text-align: center;
	font-size: 14px;
	color: #BDA0AA;
 }

 .box {
	float: left;
	width: 180px;
	height: 260px;
/* 	background-color: yellow; */
	padding-bottom: 30px;
	margin: 10px 10px;
	
 }
 
 .box p {
 	text-align: center;
 	margin: 10px 20px;
 	color: #858585;
 	font-family: Open Sans;
 	font-weight: 300; 	
 }
 
 .box h1 {
	font-family: Oswald;
	text-align: center;
 	margin: 10px 20px;
 	color: #858585; 	 
 	font-size: 14px;
 }
 
  .row {
 	width: 900px;
	float: center;
 	margin: 5px 50px;
	background-color: yellow;
	clear: both; 
/* 	border-top: 3px solid #D9D9D9; */
 }
 
 .flow {
 	float: center;
 	width: 170px;
 	height: 170px;
 	margin: 10px auto; 	
 	border: 3px solid #D9D9D9;
 }
 
 .flow:hover {
 	float: center;
 	width: 170px;
 	height: 170px;
 	margin: 10px auto; 
	border: 3px solid green;
}

.pbox {
		float: left;
		width: 250px;
/* 		height: auto; */
		color: #A8A8A8;
/* 		background-color: yellow; */
		margin: 10px 25px;
		text-align: left;
	}

.pbox p {
		font-family: Open Sans;
		font-weight:200;
		font-size: 14px;
		text-align: center;
		padding: 5px;
		color: #A8A8A8;
}
 
 footer {
		width: 900px;
		margin: 10px auto;
		position: center;
		clear: both;
		border-top: 3px solid #D9D9D9;
/* 		background-color: yellow; */
}

.fbox {
		float: left;
		width: 250px;
		height: 150px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 25px;
		text-align: center;
		font-size: 90%;
}

.fbox p {
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-weight: 300px;
		text-align: center;
		margin: auto;
		color: #A8A8A8
	}