 #container{
		width: 900px;
		margin: 20px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
 }
 
header {
		font-family: Oswald;
		width: 900px;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
/*  	background: yellow; */
 		margin: 5px auto;
}

nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 1em;
		position: right;
/* 		background: yellow; */
}

nav ul {
		width: 900px;
/* 		background: orange;  */
		margin-left: 0em;
}

a, a:visited {
		color:#008A00;
		text-decoration: none;
}

a:active, a:hover {
		color:purple;
		text-decoration: none;
}

h1 {
		font-family: Amatic;
		font-size: 32px;
		color: #A8A8A8;
}
 
  p {
	text-align: center;
	font-size: 14px;
	color: #BDA0AA;
 }
 
 .row {
 	width=900px;
 	margin: 5px 16.9em;
	float: center;
	border: 2px;
 }

 .box {
	float: left;
	width: 10em;
	height: 220px;
/* 	background-color: yellow; */
	padding-bottom: 30px;
	margin: 10px 10px;
	
 }
 
 .box p {
 	text-align: center;
 	margin: 10px 20px;
 	color: #858585;
 	font-family: Open Sans;
 	font-weight: 300; 	
 }
 
 .box h1 {
	font-family: Oswald;
	text-align: center;
 	margin: 10px 20px;
 	color: #858585; 	 
 	font-size: 14px;
 }
 
 .flow {
 	float: center;
 	width: 120px;
 	height: 120px;
 	margin: 10px 1em; 	
 	border: 3px solid #D9D9D9;
 }
 
 .flow:hover {
 	float: center;
 	width: 120px;
 	height: 120px;
 	margin: 10px 1em; 
	border: 5px solid grey;
}
 
 footer {
		width: 900px;
		height: 34em;
		margin: 10px auto;
		position: center;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
}

.fbox {
		float: left;
		width: 250px;
		height: 150px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 25px;
		text-align: center;
		font-size: 90%;
}

.fbox p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300px;
		text-align: center;
		margin: auto;
		color: #A8A8A8
	}