.container {
		width: 900px;
		margin: 0px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
}

header {
		font-family: Oswald;
		width: 900px;
		color: #A8A8A8;
/* 
		margin-left: auto;
		margin-right: auto;
 */
 		margin: 0px auto;
 		margin-top: 20px;
}

nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 1em;
		position: right;
/* 		background: yellow; */
}

nav ul {
/* 		position: fixed; */
		width: 900px;
/* 		background: orange;  */
		margin-left: 0em;
		margin-top: 0px;
/* 		z-index: 10; */
		background-color: white;
}

a, a:visited {
		color:#008A00;
		text-decoration: none;
}

a:active, a:hover {
		color:purple;
		text-decoration: none;
}

#link p {
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-bottom: 20px;
}

h1 {
		font-family: Oswald;
		font-size: 32px;
		color: #A8A8A8;
		margin: 5px auto;
}

h2 {
		font-family: Open Sans;
		font-style: normal;
		font-size: 14px;
		font-weight: 300;
		color: #A8A8A8;
}

#pbox {
		float: left;
		margin: 10px 20px;
/* 		margin-right: 30px; */
		margin-bottom: 2px;
		padding: 5px 0px;
		width: 280x;
		height: auto;
/* 		background-color: yellow; */
/* 		border: 3px solid green; */
}

#pbox2 {
		float: left;
		margin: 10px 10px;
		margin-top: 3px;
		margin-left: 0px;
		padding: 0px 0px;
		width: 90px;
/* 		background-color: yellow; */
}

#tbox {
		float:left;
		width: 550px;
		padding: 5px;
/* 		background-color: yellow; */
}

#tbox p {
		font-size: 14px;
		font-family: Open Sans;
		font-weight: 300;
		color: #A8A8A8;
}


footer {
		width: 900px;
		margin: 10px auto;
		position: center;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
		clear: both;
		border-top: 3px solid #D9D9D9;
}

.box {
		float: left;
		width: 250px;
		height: 150px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 25px;
		text-align: center;
		font-size: 90%;
}

.box p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		text-align: center;
		margin: auto;
	}
	
