.container {
		width: 80%;
		max-width: 900px;
		margin: 0px auto;
		float: center;
		border-bottom: 3px solid #D9D9D9;
}

.section {
		width: 100%;
		margin: 0px auto;
		float: center;
/* 		background-color: yellow; */
		text-align: left;
}

header {
		font-family: Oswald;
		width: 100%;
		color: #A8A8A8;
 		margin: 0px auto;
 		margin-top: 20px;
 		border-bottom: 3px solid #D9D9D9;
 		float: center;
}

nav ul li {
		display: inline;
		text-decoration: none;
		list-style: none;
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-left: 4%;
/* 		background: yellow; */
}

nav ul {
/* 		position: fixed; */
		width: 100%;
/* 		background: orange;  */
		margin-left: 0em;
		margin-top: 0px;
		float: center;
/* 		z-index: 10; */
/* 		background-color: yellow; */
}

.logo {
width:22%;
/* padding-right:25%; */
}

a, a:visited {
		color:#008A00;
		text-decoration: none;
}

a:active, a:hover {
		color:purple;
		text-decoration: none;
}

#link p {
		font-size: 32px;
		font-family: 'Amatic SC', cursive;
		color: #00CC1B;
		text-align: center;
		margin-bottom: 20px;
}

h1 {
		font-family: Oswald;
		font-size: 32px;
		color: #A8A8A8;
		margin: 5px auto;
}

h2 {
		font-family: Open Sans;
		font-style: normal;
		font-size: 14px;
		font-weight: 300;
		color: #A8A8A8;
}

#pbox {
		float: left;
		margin-top: 0.5em;
		margin-right: 3%;
		width: 30%;
		height: auto;
/* 		background-color: yellow; */
/* 		border: 3px solid green; */
}

.mainpic {
	width: 100%;
	height: auto;
	border: 3px solid green;
}

#buy {
		margin: 2em 35%; 
}

#tbox {
		float:left;
		width: 65%;
/* 		background-color: yellow; */
}

#tbox p {
		font-size: 13px;
		font-family: Open Sans;
		font-weight: 300;
		color: #A8A8A8;
}

.pbox2 {
		float: left;
		margin: 5px 2.5%;
		width: 28%;
		height: auto;
/* 		background-color: yellow; */
}

.ppic {
		width: 100%;
		height: auto;
		border: 3px solid green;
}

footer {
		width: 100%;
		margin: 10px auto;
		position: center;
		border-bottom: 3px solid #D9D9D9;
/* 		background-color: yellow; */
		clear: both;
		border-top: 3px solid #D9D9D9;
}

.box {
		float: left;
		width: 250px;
		height: 150px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 25px;
		text-align: center;
		font-size: 90%;
}

.box p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		text-align: center;
		margin: auto;
	}
	

footer {
		width: 100%;
		margin: 10px auto;
		position: center;
/* 		background-color: yellow; */
}

.icon {
		width:30px; 
		margin: auto;
}

.box {
		float: left;
		width: 30%;
		height: 150px;
		font-family: Oswald;
		color: #A8A8A8;
/* 		background-color: orange; */
		margin: 0px 1.6%;
		text-align: center;
		font-size: 90%;
}

.box p {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: auto;
	}